@import "../../config";

.card {
  height: auto;
  max-width: 200px;
  padding: 0 calc($padding/2);
  position: relative;
  flex: 0 0 40vw;

  img {
    height: auto;
    width: 100%;
  }

  &-image {
    background-color: #333333;
    background-image: url(../../assets/images/no-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vw;
    margin-bottom: calc($padding/2);
    max-height: 280px;
    width: 100%;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
}

.icon-rating {
  color: $color-primary;
  margin-right: 0.5em;
}

.rating {
  display: block;
  font-size: 0.7rem;
  margin-bottom: 0.25em !important;
  margin-top: 0.25em !important;
}
