@import "../../config";

header {
  background-color: $color-header;
  height: $header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .d-flex {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    padding: 0 $padding;
  }

  .logo-main {
    height: $header-height - ($padding*2);
    width: auto;    
  }  
}

nav {
  align-items: center;
  display: flex;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 $padding;
    }

    a {
      border-radius: $rounded;
      color: $color-primary;
      text-decoration: none;
      transition: $transition;

      &:hover {
        color: $color-white;
        text-decoration: none;
        transition: $transition;
      }
    }
  }

  .iconNav {
    font-size: 1.5rem;
  }
}
