// Colors
$color-active: #008b8b;
$color-background: #000000;
// $color-border: #c1c1c1;
$color-danger: #b10000;
$color-header: #121212;
$color-primary: #F5C518;
$color-secondary: #aaaaaa;
$color-white: #ffffff;

// Breakbpoints
$breakpoint-desktop: 1080px;
$breakpoint-tablet: 760px;

$header-height: 60px;
$padding: 10px;
$rounded: 4px;
$transition: 0.5s;
$spacer: $padding*3;
