@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "./config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-background;
  color: $color-white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: calc($padding/2);
}

h3 {
  color: $color-white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: $padding;

  &::before {
    background-image: url('./assets/images/title_bar.svg');
    background-size: 20px 20px;
    content: '';    
    display: inline-block;    
    height: 20px;
    margin-left: -7px;
    text-decoration: none;
    vertical-align: -3px;
    width: 20px;
  }

  &::after {
    background-image: url('./assets/images/title_arrow.svg');
    background-size: 16px 16px;
    content: '';    
    display: inline-block;    
    height: 16px;    
    margin-left: 5px;
    vertical-align: -2px;
    width: 16px;
  }
}

p {
  margin-bottom: $padding;
}

section {
  background-color: $color-header;
  height: auto;
  margin-bottom: $spacer;
  padding: $padding;
  width: 100%;
}

.color-grey {
  color: darken($color-white, 75%);
}

.container {
  margin: 0 auto;
  max-width: $breakpoint-desktop;
  width: 100%;
}

.cover {
  background-color: $color-header;
  margin-bottom: $padding*2;
  padding-bottom: $padding;

  .info {
    color: $color-secondary;
    font-size: 0.9rem;
    margin: 0;
  }

  .rating {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .top-info {
    display: block;
    margin-bottom: $padding;
  }
}

.genreList {
  font-size: 0.9rem;
  list-style-type: none;
  margin-bottom: $padding;

  li {
    border: solid 2px $color-secondary;
    border-radius: 100px;    
    color: $color-secondary;
    display: inline-block;
    margin-right: $padding;
    padding: calc($padding/2) $padding;
  }
}

.hightligts {
  border-top: solid 1px transparentize($color-secondary, 0.5);
  margin: 0;
  padding: $padding*1.5 0;

  strong {
    margin-right: $padding;
  }
}

.icon-big {
  font-size: 2rem;
}

.margin-left {
  margin-left: $padding;
}

.padding-wide {
  padding: 0 $padding;
}

.selector {
  background-color: $color-secondary;
  border-radius: $rounded;
  margin-bottom: $padding;  
  padding: $padding;
  width: 100%;
}

.slider-win {
  align-items: center;
  display: flex;
  height: 180px;
  justify-content: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.space-header {
  padding-top: $header-height + $spacer;
}

.youtube {
  border: none;
  display: block;
  height: 350px;
  margin-bottom: $padding;
  width: 100%;
}


// #######################################################################################
// ################################### DESKTOP VERSION ###################################
// #######################################################################################

@media (min-width: $breakpoint-tablet) {
  .cover {
    .top-info {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
